#!/usr/bin/env python
PACKAGE = "simple_kinect_motion_visualizer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("redHistorySize",    int_t,    0, "redHistorySize", 5, 1, 10)
gen.add("redGain",    double_t,    0, "redGain", 0.9,  0.0, 2.0)
gen.add("redIntensityThreshold",    int_t,    0, "redIntensityThreshold", 35,  0, 255)
gen.add("greenHistorySize",    int_t,    0, "greenHistorySize", 3, 1, 10)
gen.add("greenGain",    double_t,    0, "greenGain", 0.4,  0.0, 2.0)
gen.add("greenIntensityThreshold",    int_t,    0, "greenIntensityThreshold", 70,  0, 255)

gen.add("lpfGainUp",    double_t,    0, "lpf Gain Up (double)", 0.2,  0.0, 1.0)
gen.add("lpfGainDown",    double_t,    0, "lpf Gain Down (double)", 0.4,  0.0, 1.0)
#gen.add("lfoGainUp",    double_t,    0, "lfo Gain Up (double)", 0.0,  0.0, 1.0)
#gen.add("lfoGainUp",    double_t,    0, "lfo Gain Up (double)", 0.0,  0.0, 1.0)
#gen.add("lfoGainUp",    double_t,    0, "lfo Gain Up (double)", 0.0,  0.0, 1.0)
#gen.add("lfoGainUp",    double_t,    0, "lfo Gain Up (double)", 0.0,  0.0, 1.0)
#gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
#gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
#gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)

#size_enum = gen.enum([ gen.const("Small",      int_t, 0, "A small constant"),
#                       gen.const("Medium",     int_t, 1, "A medium constant"),
#                       gen.const("Large",      int_t, 2, "A large constant"),
#                       gen.const("ExtraLarge", int_t, 3, "An extra large constant")],
#                     "An enum to set size")

#gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "simple_kinect_motion_visualizer_node", "Visualization"))
