#!/usr/bin/env python
PACKAGE = "simple_kinect_motion_visualizer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("redHistorySize",    int_t,    0, "redHistorySize", 2, 1, 10)
gen.add("redGain",    double_t,    0, "redGain", 2.0,  0.0, 2.0)
gen.add("redIntensityThreshold",    int_t,    0, "redIntensityThreshold", 17,  0, 255)

gen.add("greenHistorySize",    int_t,    0, "greenHistorySize", 2, 1, 10)
gen.add("greenGain",    double_t,    0, "greenGain", 2.0,  0.0, 2.0)
gen.add("greenIntensityThreshold",    int_t,    0, "greenIntensityThreshold", 17,  0, 255)

gen.add("blueHistorySize",    int_t,    0, "blueHistorySize", 2, 1, 10)
gen.add("blueGain",    double_t,    0, "blueGain", 2.0,  0.0, 2.0)
gen.add("blueIntensityThreshold",    int_t,    0, "blueIntensityThreshold", 17,  0, 255)

gen.add("redlpfGainUp",    double_t,    0, "lpf Gain Up (double)", 0.5,  0.0, 1.0)
gen.add("redlpfGainDown",    double_t,    0, "lpf Gain Down (double)", 0.73,  0.0, 1.0)

gen.add("greenlpfGainUp",    double_t,    0, "lpf Gain Up (double)", 0.45,  0.0, 1.0)
gen.add("greenlpfGainDown",    double_t,    0, "lpf Gain Down (double)", 0.78,  0.0, 1.0)

gen.add("bluelpfGainUp",    double_t,    0, "lpf Gain Up (double)", 0.8,  0.0, 1.0)
gen.add("bluelpfGainDown",    double_t,    0, "lpf Gain Down (double)", 0.3,  0.0, 1.0)

gen.add("lpfRedIntensityThreshold",    int_t,    0, "blueIntensityThreshold", 25,  0, 255)
gen.add("lpfGreenIntensityThreshold",    int_t,    0, "blueIntensityThreshold", 25,  0, 255)
gen.add("lpfBlueIntensityThreshold",    int_t,    0, "blueIntensityThreshold", 25,  0, 255)

gen.add("filterQuadraticCorrelation",    bool_t,    0, "Quadratic Correlation instead of Linear (bool)", True)
gen.add("musicGainDivider",    double_t,    0, "gain Divider", 4550,  1, 10000)
gen.add("minusTerm",    double_t,    0, "minus Term", 0.0,  0.0, 2.0)
gen.add("lowerBound",    double_t,    0, "lower Bound of music lpf", 0.002,  0.0, 0.1)
gen.add("preLPFMusicGain", double_t, 0, "preLPF for lpfin Music for smooth transitions",    .97, 0.0,   1.0)
gen.add("preLPFMusicGainDifferential", double_t, 0, "preLPF for lpfin Music for smooth transitions of Differential gain",    .97, 0.0,   1.0)

gen.add("motorMultiplier",    int_t,    0, "motor Multiplier from Filter param to motor speed", 20000,  20000, 200000)
gen.add("motorMultiplierDifferential",    int_t,    0, "motor Multiplier from Filter param to motor speed of derivative sensitive motors", 20000,  20000, 200000)


# For simple diff calculation:
gen.add("LPFgainSimpleDiff",    double_t,    0, "LPF gain for simpler differential calculation", 0.92,  0.0, 1.0)
gen.add("sensitivitySimpleDiff",    int_t,    0, "sensitivity to simpler calculation", 100,  0, 2000)

# Individual settings:
# Basic X:
gen.add("sensitivityBasicX",    double_t,    0, "Sensitivity of Motor speed to motion", 6000.0,  0.0, 200000.0)
gen.add("maxVelocityBasicX",    int_t,    0, "Velocity Saturation", 40,  0, 1000)
gen.add("lpfGainBasicX",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 0.99)
# Basic Y:
gen.add("sensitivityBasicY",    double_t,    0, "Sensitivity of Motor speed to motion", 10000.0,  0.0, 200000.0)
gen.add("maxVelocityBasicY",    int_t,    0, "Velocity Saturation", 300,  0, 1000)
gen.add("lpfGainBasicY",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 0.99)
# Basic Z:
gen.add("sensitivityBasicTHETA",    double_t,    0, "Sensitivity of Motor speed to motion", 10000.0,  0.0, 200000.0)
gen.add("maxVelocityBasicTHETA",    int_t,    0, "Velocity Saturation", 300,  0, 1000)
gen.add("lpfGainBasicTHETA",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 0.99)

# Diff X:
gen.add("sensitivityDiffX",    double_t,    0, "Sensitivity of Motor speed to motion", 10.0,  0.0, 200000.0)
gen.add("maxVelocityDiffX",    int_t,    0, "Velocity Saturation", 40,  0, 1000)
gen.add("lpfGainDiffX",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 1.0)
# Diff Y:
gen.add("sensitivityDiffY",    double_t,    0, "Sensitivity of Motor speed to motion", 10.0,  0.0, 200000.0)
gen.add("maxVelocityDiffY",    int_t,    0, "Velocity Saturation", 300,  0, 1000)
gen.add("lpfGainDiffY",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 1.0)
# Diff Z:
gen.add("sensitivityDiffTHETA",    double_t,    0, "Sensitivity of Motor speed to motion", 10.0,  0.0, 200000.0)
gen.add("maxVelocityDiffTHETA",    int_t,    0, "Velocity Saturation", 300,  0, 1000)
gen.add("lpfGainDiffTHETA",	double_t,    0, "Individual low pass gain", 0.9, 0.0, 1.0)




#gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
#gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)

#size_enum = gen.enum([ gen.const("Small",      int_t, 0, "A small constant"),
#                       gen.const("Medium",     int_t, 1, "A medium constant"),
#                       gen.const("Large",      int_t, 2, "A large constant"),
#                       gen.const("ExtraLarge", int_t, 3, "An extra large constant")],
#                     "An enum to set size")

#gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "simple_kinect_motion_visualizer_node", "Visualization"))
